# config/resources.cfg

[kneaddata]
threads = 4
memory_mb = 16000
# 普通队列，适合IO密集型
partition = low

[assembly]
threads = 24
memory_mb = 300000
# 大内存队列，适合MetaSPAdes
partition = smp01

[binning]
threads = 16
memory_mb = 32000
partition = smp01

[drep]
threads = 32
memory_mb = 128000
# 或者是 long 队列，因为 dRep 时间久
partition = smp01

[gtdbtk]
threads = 32
memory_mb = 450000
# 必须是大内存队列
partition = smp01